rust/target
experimental/stresstest/*.sk
rust/siko_tester/target
rust/bootstrap/
rust/bootstrap.log.txt
rust/compiled_sikoc
doc/book/book
sikoc/test_runs
apple.txt
sikoc/sikoc_output_normal
sikoc/sikoc_output_normal.rs
mini_sikoc/
mini_bootstrap.sh
mini_bootstrap2.sh
mini_bootstrap.log.txt
rustc_output.sh
full.txt
rustcoutput.txt
rust/mini_bootstrap
merger_backup