rust/target
experimental/stresstest/*.sk
rust/siko_tester/target
rust/bootstrap/
rust/bootstrap.log.txt
rust/compiled_sikoc
book/book
sikoc/test_runs
sikoc/sikoc_output_normal
sikoc/sikoc_output_normal.rs